.App {
  text-align: center;
}

.App-header {
  background-color: #191919;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: auto;
}
